<div class="card_cust">
  <div class="image img_card_custom">
    <img src="https://picsum.photos/200">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      View Product
    </a>
  </div>
</div>
