<div class="ui card card_disp_cust">
  <div class="image">
    <img src="<%= obj[i].image%>" class = "img_card_custom">
  </div>
  <div class="content">
    <a class="header"><%= obj[i].name%></a>
    <div class="meta">
      <span class="date"><%= obj[i].companyName%></span>
    </div>
    <div class="description">
      <%= obj[i].description%>
    </div>
  </div>
</div>
